<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>상품 수정 / 제거</title>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>주문 관리</title>
		<!-- bootstrap  & bulma style css-->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
		/>
		<!-- cunstom css-->
		<link rel="stylesheet" href="./products_management.css" />
		<!-- icon -->
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/src/views/elice-rabbit-favicon.png"
		/>
		<!-- 폰트 어썸: 아이콘 -->
		<script
			defer
			src="https://kit.fontawesome.com/7630448495.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<!--header-->
		<nav class="navbar" role="navigation" aria-label="main navigation">
			<div class="container mt-3">
				<div class="navbar-brand">
					<a class="navbar-item" href="/">
						<img src="../../elice-rabbit-favicon.png" width="30" height="30" />
						<span class="has-text-link">Cheshire Shoppint Mall</span>
					</a>

					<a
						role="button"
						class="navbar-burger"
						aria-label="menu"
						aria-expanded="false"
						data-target="navbarBasicExample"
					>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
					</a>
				</div>

				<div id="navbarBasicExample" class="navbar-menu">
					<div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
						<ul id="navbar">
							<li><a href="/register">회원가입</a></li>
							<li>
								<a href="/cart" aria-current="page">
									<span class="icon">
										<i class="fas fa-cart-shopping"></i>
									</span>
									<span>카트</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="top-field">
				<label
					class="label"
					for="categorySelect"
					style="
						text-align: center;
						font-size: 20px;
						color: #00d1b2 !important;
						font-weight: bold;
					"
				>
					수정 & 삭제 카테고리
				</label>
			</div>
			<div class="select-box">
				<div class="control">
					<div>
						<strong>&nbsp;선택한 카테고리:&nbsp;</strong>
						<select id="categorySelectBox">
							<option value="">카테고리를 선택해 주세요</option>
						</select>
					</div>
				</div>

				<div class="table-box">
					<table id="table" class="table">
						<thead>
							<tr>
								<td><input type="checkbox" id="allSelect" />전체선택</td>
								<td>상품명</td>
								<td>가격</td>
								<td>재고</td>
								<td>수정</td>
							</tr>
						</thead>
						<tbody id="tbody"></tbody>
					</table>
				</div>

				<div class="button-box">
					<button id="deleteBtn" class="btn btn-primary">삭제하기</button>
				</div>
			</div>
		</div>

		<!--delete 모달창-->
		<div class="modal" id="delModal">
			<div class="modal-background" id="deleteModalBack"></div>
			<div class="modal-content has-background-white py-5 px-5">
				<div class="box">
					<p class="mb-3">
						상품 삭제 시 복구할 수 없습니다. 정말 취소하시겠습니까?
					</p>
					<div class="buttons">
						<button class="button mt-5" id="delCompleteBtn" aria-label="close">
							확인
						</button>
						<button
							class="button is-primary mt-5"
							id="delCancelBtn"
							aria-label="close"
						>
							취소
						</button>
					</div>
				</div>
			</div>
			<button
				class="modal-close is-large"
				id="deleteModalClose"
				aria-label="close"
			></button>
		</div>

		<!--수정 modal 창-->
		<div class="modal">
			<div class="modal-background"></div>
			<div class="modal-card">
				<header class="modal-card-head">
					<p class="modal-card-title">Modal title</p>
					<button class="delete" aria-label="close"></button>
				</header>
				<section class="modal-card-body">
					<!-- Content ... -->
				</section>
				<footer class="modal-card-foot">
					<button class="button is-success">Save changes</button>
					<button class="button">Cancel</button>
				</footer>
			</div>
		</div>

	</body>
	<!--product_management.js 연결-->
	<script type="module" src="./products_management.js" defer></script>
</html>
