<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>상품 수정 / 제거</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>주문 관리</title>
  <!-- bootstrap  & bulma style css-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <!-- cunstom css-->
  <link rel="stylesheet" href="./products_management.css" />
  <!-- icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/src/views/elice-rabbit-favicon.png" />
  <!-- 폰트 어썸: 아이콘 -->
  <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
</head>

<body>
  <!--header-->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container mt-3">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/lolshop.png"/>
          <span class="has-text-link"></span>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
          <ul id="navbar">
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <!-- 모달 -->
  <div class="modal-profile">
    <div class="modal-profile-info">
      <div class="modal-profile-img">
        <img id="userImg" src="/elice-rabbit.png" alt="profile-img">
      </div>
      <P id="userName"></P>
      <p id="userEmail"></p>
    </div>
    <div class="modal-link">
      <a href="/account">계정 관리</a>
      <a href="#" id="logout">로그아웃</a>
    </div>
  </div>

  <div class="container">
    <div class="top-field">
      <label class="label" for="categorySelect" style="
            text-align: center; 
            font-weight: bold;
          ">
        상품 수정 & 삭제 카테고리
      </label>
    </div>
    <div class="select-box">
      <div class="control">
        <div>
          <select id="categorySelectBox">
            <option id="allShowList">카테고리를 선택해 주세요</option>
          </select>
        </div>
      </div>

      <div class="table-box">
        <table id="table" class="table">
          <thead>
            <tr>
            <label class="label" for="allSelect">
              <td><input type="checkbox" id="allSelect" />전체선택</td>
            </label>
              <td>상품명</td>
              <td>카테고리명</td>
              <td>가격</td>
              <td>재고</td>
              <td>수정</td>
            </tr>
          </thead>
          <tbody id="tbody"></tbody>
        </table>
      </div>

      <div class="button-box">
        <button id="deleteBtn">삭제하기</button>
      </div>
    </div>
  </div>

  <!--delete 모달창-->
  <div class="modal" id="delModal">
    <div class="modal-background" id="deleteModalBack"></div>
    <div class="modal-content has-background-white py-5 px-5">
      <div class="box">
        <p class="mb-3">
          상품 삭제 시 복구할 수 없습니다. 정말 취소하시겠습니까?
        </p>
        <div class="buttons">
          <button class="button mt-5" id="delCompleteBtn" aria-label="close">
            확인
          </button>
          <button class="button is-primary mt-5" id="delCancelBtn" aria-label="close">
            취소
          </button>
        </div>
      </div>
    </div>
    <button class="modal-close is-large" id="deleteModalClose" aria-label="close"></button>
  </div>

  <!--수정 modal 창-->
  <div class="modal" id="updateModal">
    <div class="modal-background" id="updateBack"></div>
    <div class="modal-card">
      <!-- modal창 header 부분 -->
      <header class="modal-card-head">
        <p class="modal-card-title">상품 정보 변경</p>
        <button class="delete" id="topCancelBtn" aria-label="close"></button>
      </header>
      <!-- modal창 body 부분 -->
      <form id="updateForm">
        <section class="modal-card-body">
          <!--이름 변경-->
          <div class="field">
            <label class="label" for="productName">이름</label>
            <div class="control">
              <input type="text" id="setModalNameText" placeholder="이름 변경" />
            </div>
          </div>
          <!-- 카테고리 변경 -->
          <div class="field">
            <label class="label" for="productCategory" id="modalCategory">카테고리</label>
            <div class="control">
              <select id="setModalCategory">
                <option value="">카테고리를 선택해주요</option>
              </select>
            </div>
          </div>
          <!-- 이미지 변경 -->
          <div class="field">
            <label class="label" for="productImg">이미지</label>
            <div class="control">
              <input type="image" style="width: 120px" id="getModalImg" src="" />
              <input type="file" id="setModalImg" accept="image/*" />
            </div>
          </div>
          <!-- 상세정보 변경 -->
          <div class="field">
            <div class="control">
              <textarea id="setProductInfo" class="textarea is-small" placeholder="제품에 대한 5문장 이상 설명을 적어주세요"></textarea>
            </div>
          </div>
          <!-- 재고 수 변경 -->
          <div class="field">
            <label class="label" for="productStorage">재고 수</label>
            <div class="control">
              <input type="text" id="setModalStorage" placeholder="재고 수 변경" onKeyup ="this.value=this.value.replace(/[^0-9]/g, '');"/>
            </div>
          </div>
          <!-- 가격 변경 -->
          <div class="field">
            <label class="label" for="productPrice">가격</label>
            <div class="control">
              <input type="text" id="setModalPrice" placeholder="가격 변경" onKeyup ="this.value=this.value.replace(/[^0-9]/g, '');"/>
            </div>
          </div>
          <!-- 제조사 변경 -->
          <div class="field">
            <label class="label" for="productCompany">제조사</label>
            <div class="control">
              <input type="text" id="setModalCompany" placeholder="제조사 변경" />
            </div>
          </div>
        </section>

        <!--modal footer 부분-->
        <footer class="modal-card-foot">
          <input type="submit" class="button is-success" id="modalUpdateBtn" value="변경하기" />
          <input type="button" id="modalCancelBtn" value="취소" />
        </footer>
      </form>
    </div>
  <!-- 카카오 로그인 스크립트 -->
  <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
  <!--product_management.js 연결-->
  <script type="module" src="./products_management.js" defer></script>
  </body>

</html>

