<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cheshire Mall</title>
  <!-- bootstrap  & bulma style css-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <!-- cunstom css-->
  <link rel="stylesheet" href="./orders.css">
  <!-- icon -->
      <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/src/views/elice-rabbit-favicon.png"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>

    <!-- orders.js 연결-->
    <script src="./orders.js" defer></script>
</head>
<body>
<!--header-->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container mt-3">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/src/views/elice-rabbit-favicon.png" width="30" height="30" />
        <span class="has-text-link">Cheshire Shoppint Mall</span>
      </a>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
        <ul id="navbar">
          <li><a href="/register">회원가입</a></li>
          <li>
            <a href="/cart" aria-current="page">
              <span class="icon">
                <i class="fas fa-cart-shopping"></i>
              </span>
              <span>카트</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <!-- 상단 주문 관리 글자-->
  <div class="block account-header">
    <h1 class="subtitle is-4">주문 관리</h1>
  </div>

  <!-- 총주문수 / 상풍준비중 / 상품 배송중 / 배송 완료 -->
  <div class="top-container">
    <div class="top-cnt">
      총주문 수
      <p id="total-products">0</p>
    </div>
    <div class="top-cnt">
      상품준비중
      <p id="products-ready">0</p>
    </div>
    <div class="top-cnt">
      상품 배송중
      <p id="productsGoing">0</p>
    </div>
    <div class="top-cnt">
      배송 완료
      <p id="productsSuccess">0</p>
    </div>
  </div>  
  <!-- 상품 목록 출력 테이블-->
    <section class ="section">
    <table id="inputData" class="table">
      <thead>
        <tr>
          <td>날짜</td>
          <td>주문 정보</td>
          <td>주문 총액</td>
          <td>상태관리</td>
          <td>취소</td>
        </tr>
      </thead>
    </table>
    </section>
</div>    
</body>
</html>