<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>주문 관리</title>
  <!-- bootstrap  & bulma style css-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <!-- cunstom css-->
  <link rel="stylesheet" href="./orders.css" />
  <!-- icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/src/views/elice-rabbit-favicon.png" />
  <!-- 폰트 어썸: 아이콘 -->
  <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
</head>

<body>
  <!--header-->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container mt-3">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/lolshop.png"/>
          <span class="has-text-link"></span>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
          <ul id="navbar">
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <!-- 모달 -->
  <div class="modal-profile">
    <div class="modal-profile-info">
      <div class="modal-profile-img">
        <img id="userImg" src="/elice-rabbit.png" alt="profile-img">
      </div>
      <P id="userName"></P>
      <p id="userEmail"></p>
    </div>
    <div class="modal-link">
      <a href="/account">계정 관리</a>
      <a href="#" id="logout">로그아웃</a>
    </div>
  </div>
  <div class="container">
    <!-- 상단 주문 관리 글자-->
    <div class="block account-header">
      <h1 class="subtitle is-4">주문 관리</h1>
    </div>

    <!-- 총주문수 / 상풍준비중 / 상품 배송중 / 배송 완료 -->
    <div class="top-container">
      <div class="top-cnt">
        총주문 수
        <p id="total-products">0</p>
      </div>
      <div class="top-cnt">
        상품준비중
        <p id="products-ready">0</p>
      </div>
      <div class="top-cnt">
        상품 배송중
        <p id="productsGoing">0</p>
      </div>
      <div class="top-cnt">
        배송 완료
        <p id="productsSuccess">0</p>
      </div>
    </div>
    <!-- 상품 목록 출력 테이블-->
    <section class="section">
      <table id="inputData" class="table">
        <thead>
          <tr>
            <td>날짜</td>
            <td>받는이</td>
            <td>주문 정보</td>
            <td>주문 총액</td>
            <td>상태관리</td>
            <td>취소</td>
          </tr>
        </thead>
        <tbody id="tbody"></tbody>
      </table>
    </section>
  </div>
  <!-- 모달 창-->
  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content has-background-white py-5 px-5">
      <div class="box">
        <p class="mb-3">주문을 취소하시겠습니까?</p>
        <div class="buttons">
          <button class="button mt-5" id="delCompleteBtn" aria-label="close">
            네
          </button>
          <button class="button is-primary mt-5" id="delCancelBtn" aria-label="close">
            아니요
          </button>
        </div>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
  <!-- orders.js 연결-->
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script type="module" src="./orders.js" defer></script>
</body>


</html>
