.user-form-box {
	width: 30rem;
}
.user-form-container {
	align-items: center;
	display: flex;
	height: 85vh;
	justify-content: center;
}
.user-form-box .title {
	text-align: center;
}
.label {
	font-weight: bold;
}
.label:not(:last-child) {
	margin-bottom: 0.5em;
}
