.order-header {
	border-bottom: 1px solid #ddd;
	display: block;
	padding-bottom: 0.7rem;
}

.colums {
	display: flex;
	text-align: center;
	align-items: center;
	border-bottom: 1px solid #bbb;
}

.order-info {
	background-color: #eff5fb;
	color: #296fa8;
}
.container.orders-container {
	margin-top: 4rem;
}

.modal .buttons {
	justify-content: center;
}

.modal .box {
	text-align: center;
}
.account-header {
	border-bottom: 1px solid #ddd;
	display: block;
	padding-bottom: 0.7rem;
}
.menu-container {
	justify-content: center;
	margin-top: 2rem;
	grid-gap: 2rem;
	cursor: pointer;
	display: flex;
	grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
	text-decoration: none;
}
.menu-body {
	text-align: center;
}
.account-menu {
	align-items: center;
	border: 1px solid #d5d9d9;
	border-radius: 6px;
	display: flex;
	font-size: 1rem;
	padding: 0.5rem;
}
.account-menu:hover {
	background-color: #edf7f7;
}
.menu-icon {
	font-size: 3.5rem;
	margin: 0 2rem;
	padding: 1rem;
}
.menu-body {
	border-radius: 6px;
	color: #7a7a7a;
	flex-grow: 1;
	font-size: 1.25em;
	padding: 1em;
}
.menu-body .title {
	margin-bottom: 1rem;
}
.menu-subtitle {
	font-size: 1rem;
}
.menu-title {
	font-size: 1.5rem;
	font-weight: bold;
	color: #000000;
}
