#topFont {
  text-align: center;
  font-size: 20px;
  color: #00d1b2 !important;
  font-weight: bold;
}

* {
  border: 0;
  font-size: 1rem;
  font-family: Rix Gothic, sans-serif;
  color: #8b7755;
  text-shadow: 0.7px 0 0px #b19d7f;
}
