body {
  height: 100vh;
  background-image: linear-gradient(rgba(27, 18, 0, 0.6),rgba(15, 10, 0, 0.9)), url('https://images.contentstack.io/v3/assets/blt187521ff0727be24/bltd959af33bf7a905a/60ee141260216d1db87a1283/zaun-depths.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  scroll-behavior: auto;
  font-family: Rix Gothic, sans-serif;
  color:#fff;
  font-size: 1.2rem;
  text-shadow:0.7px 0 0px #b19d7f;
  }


.navbar {
  background-color: #012532;
  border-bottom: 1px double #b19d7f;
}

.content-wrap {
  margin: 0 auto;
  padding-top: 3rem;
  text-align: -webkit-center;
  height: 80vh;
}

.content-container {
  width: 80%;
  height: 70vh;
}

.product-container {
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 2rem 0;
}

.product-wrap {
  border:2px double #b19d7f;
  border-radius: 2%;
  line-height: 3rem;
  margin-top: 1rem;
}

.product-image-wrap {
  width: 50%;
  display: flex;
  justify-content: center;
  max-height: 500px;
}

.product-image-wrap img {
  border-radius: 2%;
  border: 2px solid #b19d7f;
  width: 450px;
  height: 450px;
  margin-top: 2rem;
}

.product {
  width: 50%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.nodata {
  display: none;
}

.product-nodata {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  margin: 2rem 0;
  padding: 1rem;
  border: 1px solid lightgray;
  font-size: 1.5rem;
  font-weight: bold;
}

.product-wrap {
  flex: 1;
}

.product-name {
  color: #bfab75;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.product-price {
  font-size: 1.5rem;
  font-weight: bold;
}

.product-content {
  margin-top: 2rem;
}

.product-count {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 2rem;
}

.product-count-label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 1rem;
}

/* number input style 초기화 */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* 파이어폭스 */
input[type='number'] {
  -moz-appearance: textfield;
}

.input-product-count {
  width: 3rem;
  text-align: center;
}

.buttons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.btn-cart {
  height: 4rem;
  background-color: lightyellow;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.btn-buy {
  height: 4rem;
  background-color: lightblue;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

/* 모달 */
.modal-profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-profile {
  z-index: 9999;
  width: 17rem;
  border: 1px solid rgb(139 119 85);
  border-radius: 2px;
  box-shadow: rgb(0 0 0 / 12%) 0px 4px 8px 0px;
  background-color: rgb(1 37 50);
  padding: 3rem 1rem 3rem 1rem;
  position: fixed;
  top: 4.4rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  gap: 2rem;
}
.active {
  display: flex !important;
}
.modal-profile-img {
  width: 6rem;
  padding-bottom: 1rem;
}
.modal-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
#userImg:hover {
  background-color: #fff;
  cursor: pointer;
  transition: 0.1s linear;
  filter: brightness(120%);
  
}
.profile-btn {
  width: 3rem;
}

#userImg {
  border: 5px solid #8b7755;
  border-radius: 100%;
  width: 80%;
  margin-left: 1rem;
}

a {
  color: #8b7755;
  text-shadow: 0.7px 0 0px #b19d7f;
  cursor: pointer;
  text-decoration: none;
}

#userEmail,
#userName {
  color: #fff;
}

.navbar {
  background-color: #010f19; 
  border-bottom: 1px solid #8b7755;
}
.breadcrumb a {
  align-items: center;
  color: #8b7755;
  display: flex;
  justify-content: center;
  padding: 0 0.75em;
}

.navbar-item {
  padding: 0;
}

.navbar-item img {
  max-height: 60%;
}


.breadcrumb {
  background-color: #010f19;
}
