<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Cheshire Mall</title>
  <!-- 아이콘 -->
  <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
  <!-- bulma css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <!-- 폰트 어썸: 아이콘 -->
  <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
  <!-- 커스텀 css, js -->
  <link rel="stylesheet" href="product.css" />
  <script src="product.js" type="module" defer></script>
</head>

<body>
  <!-- 헤더 -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container mt-3">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/lolshop.png"/>
          <span class="has-text-link"></span>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
        <ul id="navbar">
        </ul>
      </div>
    </div>
    </div>
  </nav>
  <!-- 모달 -->
  <div class="modal-profile">
    <div class="modal-profile-info">
      <div class="modal-profile-img">
        <img id="userImg" src="/elice-rabbit.png" alt="profile-img">
      </div>
      <P id="userName"></P>
      <p id="userEmail"></p>
    </div>
    <div class="modal-link">
      <a href="/account">계정 관리</a>
      <a href="#" id="logout">로그아웃</a>
    </div>
  </div>
  <!-- 메인 컨텐츠 -->
  <div class="content-wrap">
    <div class="content-container">
      <div class="product-container">
        <div class="product-image-wrap"></div>
        <div class="product">
          <div class="product-wrap">
            <h1 class="product-name"></h1>
            <span class="product-price"></span>
            <p class="product-content"></p>
          </div>
          <div class="product-count">
            <h2 class="product-count-label">구매 개수</h2>
            <button class="btn-count-decrease button">
              <i class="fa-solid fa-angle-left"></i>
            </button>
            <input class="input-product-count input" type="number" min="1" max="10" value="1" readonly>
            <button class="btn-count-increase button">
              <i class="fa-solid fa-angle-right"></i>
            </button>
          </div>
          <div class="buttons">
            <button class="btn-cart button is-warning">장바구니 추가하기</button>
            <button class="btn-buy button is-info">바로 구매하기</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
</body>

</html>