<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Cheshire Mall</title>
  <!-- 아이콘 -->
  <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
  <!-- bulma css 관련 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <!-- 폰트 어썸: 아이콘 -->
  <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
  <!-- 커스텀 css, js -->
  <link rel="stylesheet" href="security.css" />
  <script src="security.js" type="module" defer></script>
</head>

<body>
  <!-- 헤더 -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container mt-3">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/elice-rabbit.png" width="30" height="30" />
          <span class="has-text-link">쇼핑-n팀</span>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
        <ul id="navbar">
          <li><a href="/account">계정관리</a></li>
          <li><a href="#">로그아웃</a></li>
          <li>
            <a href="#cart" aria-current="page">
              <span class="icon">
                <i class="fas fa-cart-shopping"></i>
              </span>
              <span>카트</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </nav>
  <!-- 회원정보 박스 -->
  <section class="section">
    <div class="container">
      <div class="security-header">
        <h1 class="title">회원정보 조회</h1>
        <span id="email"></span>
      </div>
      <!-- Id 박스 -->
      <div>
        <div class="my-info-box id-box display-grid">
          <span>이름</span>
          <div class="my-info-id" id="currentId"></div>
          <button type="button" class="button" id="idChangeBtn">이름 변경</button>
        </div>
        <!-- 이름 변경 -->
        <div class="my-info-box id-chenge-box display-none">
          <span>이름</span>
          <div class="new-id-box">
            <span>신규 이름</span>
            <input type="text" class="input" id="newIdInput" placeholder="신규 이름을 입력해주세요!" />
            <div>
              <button type="button" class="button" id="idCompleteBtn">이름 변경</button>
              <button type="button" class="button is-primary" id="idCencelBtn">취소</button>
            </div>
          </div>
        </div>
      </div>
      <!-- 비밀번호 박스 -->
      <div>
        <div class="my-info-box password-box display-grid">
          <span>비밀번호</span>
          <div class="my-info-password" id="currentPassword"></div>
          <button type="button" class="button" id="pwChangeBtn">비밀번호 변경</button>
        </div>
        <!-- 비밀번호 변경 -->
        <div class="my-info-box password-chenge-box display-none">
          <span>비밀번호</span>
          <div class="new-password-box">
            <span>신규 비밀번호</span>
            <input type="password" class="input" id="newPwInput" />
            <span>신규 비밀번호 재입력</span>
            <input type="password" class="input" id="newPwConfirm" />
            <div>
              <button type="button" class="button" id="pwCompleteBtn">비밀번호 변경</button>
              <button type="button" class="button is-primary" id="pwCencelBtn">취소</button>
            </div>
          </div>
        </div>
      </div>
      <!-- 주소 박스 -->
      <div>
        <div class="my-info-box address-box display-grid">
          <span>주소</span>
          <div class="my-info-address" id="currentAddress"></div>
          <button type="button" class="button" id="addressChangeBtn">주소 변경</button>
        </div>
        <!-- 주소 변경 -->
        <div class="my-info-box address-chenge-box display-none">
          <span>주소</span>
          <div class="new-address-box">
            <div class="search-Address-box">
              <input type="text" class="input" id="postal" />
              <button type="button" class="button" id="searchAdressBtn">주소 검색</button>
            </div>
            <input type="text" class="input" id="address1" />
            <input type="text" class="input" id="address2" placeholder="상세 주소를 입력하세요." />
            <div>
              <button type="button" class="button" id="addressCompleteBtn">주소 변경</button>
              <button type="button" class="button is-primary" id="addressCencelBtn">취소</button>
            </div>
          </div>
        </div>
      </div>
      <!-- 전화번호 박스 -->
      <div>
        <div class="my-info-box phone-box display-grid">
          <span>전화번호</span>
          <div class="my-info-phone" id="currentPhone"></div>
          <button type="button" class="button" id="phoneChangeBtn">전화번호 변경</button>
        </div>
        <!-- 전화번호 변경 -->
        <div class="my-info-box phone-chenge-box display-none">
          <span>전화번호</span>
          <div class="new-phone-box">
            <span>신규 전화번호</span>
            <input type="tel" class="input" id="newPhoneInput" placeholder="- 없이 숫자만 입력해주세요." />
            <div>
              <button type="button" class="button" id="phoneCompleteBtn">전화번호 변경</button>
              <button type="button" class="button is-primary" id="phoneCencelBtn">취소</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>