.security-header {
	border-bottom: 1px solid #ddd;
	display: block;
	padding-bottom: 0.7rem;
}
.my-info-box {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	row-gap: 2rem;
	border-bottom: 1px solid #ddd;
	padding: 0.8rem 0.8rem;
	align-items: center;
}
.my-info-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-top: 4rem;
}
.new-id-box,
.new-password-box,
.new-address-box,
.new-phone-box {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.display-none {
	display: none !important;
}
.display-grid {
	display: grid !important;
}
.search-Address-box {
	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: 0.5rem;
}
