.content-wrap {
	width: 70%;
	max-width: 1344px;
	margin: 0 auto;
}

.buy-header {
	margin: 2rem 0;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid lightgray;
}

.buy-container {
	display: flex;
}

.buy-container > .user {
	width: 60%;
	margin-right: 2rem;
}

.buy-container > .product {
	width: 40%;
}

.buy-content > h2 {
	font-size: 1.3rem;
	font-weight: bold;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid lightgray;
}

.buy-form-field {
	display: flex;
	align-items: center;
}

.buy-form-field-label {
	width: 20%;
}

.buy-form-address-wrap {
	width: 100%;
	display: flex;
	align-items: center;
}

.buy-form-address-wrap > button {
	margin-left: 0.5rem;
}

.buy-form-address-wrap select {
	width: 100%;
}

.request-field {
	display: flex;
}

.no-showing {
	display: none;
}

.buy-content.product {
	display: flex;
	flex-direction: column;
	background-color: #f0f5f7;
}

.product-wrap {
	flex: 1;
	margin-bottom: 2rem;
}

.order-product-info {
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
	padding-bottom: 1rem;
	border-bottom: 1px solid lightgray;
}

.buying-info-wrap {
	display: flex;
	padding-bottom: 0.5rem;
	justify-content: space-between;
}

.delivery-price-wrap {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.delivery-price-help {
	border-bottom: 1px solid lightgray;
	margin-top: 0.5rem;
	padding-bottom: 1rem;
	font-size: 0.8rem;
	color: gray;
}

.total-price-wrap {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 1rem 0;
}

.total-price-label {
	font-size: 1.1rem;
	font-weight: bold;
}

.total-price {
	font-size: 1.5rem;
	font-weight: bold;
}

.btn-payment {
	width: 100%;
}
