.content-wrap {
  width: 70%;
  max-width: 1344px;
  margin: 0 auto;
}

.buy-header {
  margin: 2rem 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid lightgray;
}

.buy-container {
  display: flex;
}

.buy-container > .user {
  width: 60%;
  height: 100%;
  margin-right: 2rem;
}

.buy-container > .product {
  width: 40%;
  height: 100%;
}

.buy-content > h2 {
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid lightgray;
}

.buy-form-field {
  display: flex;
  align-items: center;
}

.buy-form-field-label {
  width: 20%;
}

.buy-form-address-wrap {
  width: 100%;
  display: flex;
  align-items: center;
}

.buy-form-address-wrap > button {
  margin-left: 0.5rem;
}

.buy-form-address-wrap select {
  width: 100%;
}

.request-field {
  display: flex;
}

.no-showing {
  display: none;
}

.buy-content.product {
  display: flex;
  flex-direction: column;
  background-color: #f0f5f7;
}

.product-wrap {
  flex: 1;
  margin-bottom: 2rem;
}

.order-product-info {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

.buying-info-wrap {
  display: flex;
  padding-bottom: 0.5rem;
  justify-content: space-between;
}

.delivery-price-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.delivery-price-help {
  border-bottom: 1px solid lightgray;
  margin-top: 0.5rem;
  padding-bottom: 1rem;
  font-size: 0.8rem;
  color: gray;
}

.total-price-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1rem 0;
}

.total-price-label {
  font-size: 1.1rem;
  font-weight: bold;
}

.total-price {
  font-size: 1.5rem;
  font-weight: bold;
}

.btn-payment {
  width: 100%;
}

/* 모달 */
.modal-profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-profile {
  z-index: 9999;
  width: 17rem;
  border: 1px solid rgb(139 119 85);
  border-radius: 2px;
  box-shadow: rgb(0 0 0 / 12%) 0px 4px 8px 0px;
  background-color: rgb(1 37 50);
  padding: 3rem 1rem 3rem 1rem;
  position: fixed;
  top: 4.4rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  gap: 2rem;
}
.active {
  display: flex !important;
}
.modal-profile-img {
  width: 6rem;
  padding-bottom: 1rem;
}
.modal-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
/* .profile-btn:hover {
  background-color: rgb(223, 222, 222);
  cursor: pointer;
} */
.profile-btn {
  width: 3rem;
}

#userImg {
  border: 5px solid #8b7755;
  border-radius: 100%;
  width: 80%;
  margin-left: 1rem;
}

a {
  color: #8b7755;
  text-shadow: 0.7px 0 0px #b19d7f;
  cursor: pointer;
  text-decoration: none;
}

#userEmail,
#userName {
  color: #fff;
}

.navbar {
  background-color: #010f19; 
  border-bottom: 1px solid #8b7755;
}
.breadcrumb a {
  align-items: center;
  color: #8b7755;
  display: flex;
  justify-content: center;
  padding: 0 0.75em;
}

.navbar-item {
  padding: 0;
}

.navbar-item img {
  max-height: 60%;
}



body {
  background-image: linear-gradient(rgba(27, 18, 0, 0.3), rgba(15, 10, 0, 0.6)),
    url('https://images.contentstack.io/v3/assets/blt187521ff0727be24/blt979f7abee0610fbb/60ee140d94d70a1ef3123841/zaun-bountymarkets.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: black;
  background-size: 100vw 100vh;
  scroll-behavior: auto;
  font-family: Rix Gothic, sans-serif;
  color: #fff;
  text-shadow: 0.7px 0 0px #b19d7f;
  height: 100vh;
}