* {
  border: 0;
  font-family: Rix Gothic, sans-serif;
  color: #8b7755;
  text-shadow: 0.7px 0 0px #b19d7f;
}

img {
  max-width: 30%;
}

.content-wrap {
  margin: 0 auto;
  background-image: linear-gradient(rgba(2, 0, 27, 0.5), rgba(1, 0, 15, 0.9)),
    url('https://images.contentstack.io/v3/assets/blt187521ff0727be24/blt96b7d18c55000dc0/60ee0bbd39cbdb45e8c47fe4/bilgewater-high-and-dry.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 120vw 120vh;
  background-color: black;
  scroll-behavior: auto;
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.category-label-container {
  width: 100%;
  padding: 0 20px;
}

.category-label {
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 15px;
}

.category {
  display: flex;
  width: 100%;
  padding: 0 20px;
}

.product {
  width: 25%;
  cursor: pointer;
  padding: 15px;
}
.btn-go-category {
  margin: 1rem 0;
}
/* 모달 */
.modal-profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-profile {
  width: 17rem;
  border: 1px solid rgb(225, 226, 228);
  border-radius: 2px;
  box-shadow: rgb(0 0 0 / 12%) 0px 4px 8px 0px;
  background-color: rgb(255, 255, 255);
  padding: 3rem 1rem 3rem 1rem;
  position: fixed;
  top: 4.4rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  gap: 2rem;
}
.active {
  display: flex !important;
}
.modal-profile-img {
  width: 6rem;
  padding-bottom: 1rem;
}
.modal-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.profile-btn:hover {
  background-color: rgb(223, 222, 222);
  cursor: pointer;
}
.profile-btn {
  width: 3rem;
}
