* {
  padding: 0;
  border: 0;
  font-family: Rix Gothic, sans-serif;
  color: #8b7755;
  text-shadow:0.7px 0 0px #b19d7f;
}


.content-wrap {
  margin: 0 auto;
  background-image: linear-gradient(rgba(2, 0, 27, 0.5),rgba(1, 0, 15, 0.9)), url('https://images.contentstack.io/v3/assets/blt187521ff0727be24/blt96b7d18c55000dc0/60ee0bbd39cbdb45e8c47fe4/bilgewater-high-and-dry.jpg');
  background-attachment: scroll;
  background-size: 120vw 120vh;
  background-color: black;
  scroll-behavior: auto;
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;

}

.category-label-container {
  width: 100%;
  padding: 0 20px;
}

.category-label {
  font-size: 2rem;
  font-weight: bold;
  padding: 0 15px;
}

.category {
  display: flex;
  width: 100%;
  padding: 0 20px;
}

.product {
  width: 15%;
  cursor: pointer;
  padding: 15px;
}

.btn-go-category {
  margin: 1rem 0;
}
