.cart-header {
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  margin-bottom: 2rem;
}

.cart-products {
  height: 100%;
}

.cart-products-container {
  width: 100%;
}

.cart-products-header {
  border-bottom: 1px solid #555;
  display: flex;
  margin-bottom: 0.5rem;
  padding-top: 0.75rem;
  width: 100%;
}

.cart-products-header label {
  border-radius: 100%;
  display: inline-block;
  line-height: 0.5rem;
}

.cart-products-header input {
  height: 0.9rem;
  width: 0.9rem;
}

.cart-products-header .help {
  display: inline-block;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.cart-products-header .seperator {
  line-height: 0.8rem;
}

.cart-products-header .delete-part {
  cursor: pointer;
  line-height: 1rem;
}

/* 선택한 상품 총 요약 css */

.tile-order-summary {
  height: 100%;
  position: sticky;
  top: 0.5rem;
}

.order-summary {
  background-color: #f0f5f7;
  width: 100%;
}

.order-summary .header {
  font-size: 1.4rem;
}

.order-info,
.order-summary .header {
  border-bottom: 1px solid #555;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
}

.purchase {
  margin-top: 3rem;
  padding: 0.2rem 0;
}

/* 모달 */
.modal-profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-profile {
  z-index: 9999;
  width: 17rem;
  border: 1px solid rgb(139 119 85);
  border-radius: 2px;
  box-shadow: rgb(0 0 0 / 12%) 0px 4px 8px 0px;
  background-color: rgb(1 37 50);
  padding: 3rem 1rem 3rem 1rem;
  position: fixed;
  top: 4.4rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  gap: 2rem;
}
.active {
  display: flex !important;
}
.modal-profile-img {
  width: 6rem;
  padding-bottom: 1rem;
}
.modal-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
/* .profile-btn:hover {
  background-color: rgb(223, 222, 222);
  cursor: pointer;
} */
.profile-btn {
  width: 3rem;
}

#userImg {
  border: 5px solid #8b7755;
  border-radius: 100%;
  width: 80%;
  margin-left: 1rem;
}

a {
  color: #8b7755;
  text-shadow: 0.7px 0 0px #b19d7f;
  cursor: pointer;
  text-decoration: none;
}

#userEmail,
#userName {
  color: #fff;
}
.navbar {
  background-color: #012532;
  border-bottom: 1px solid #8b7755;
}


body {
  background-image: linear-gradient(rgba(27, 18, 0, 0.3), rgba(15, 10, 0, 0.6)),
    url('https://images.contentstack.io/v3/assets/blt187521ff0727be24/blt979f7abee0610fbb/60ee140d94d70a1ef3123841/zaun-bountymarkets.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: black;
  background-size: 100vw 100vh;
  scroll-behavior: auto;
  font-family: Rix Gothic, sans-serif;
  color: #fff;
  text-shadow: 0.7px 0 0px #b19d7f;
  height: 100vh;
}