<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Cheshire Mall</title>
  <!-- 아이콘 -->
  <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
  <!-- bulma css 관련 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <!-- 폰트 어썸: 아이콘 -->
  <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
  <!-- 커스텀 css, js -->
  <link rel="stylesheet" href="withdrawal.css" />
  <script src="withdrawal.js" type="module" defer></script>
</head>

<body>
  <!-- 헤더 -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container mt-3">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/elice-rabbit.png" width="30" height="30" />
          <span class="has-text-link">쇼핑-n팀</span>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" xcc aria-expanded="false"
          data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
        <ul id="navbar">
        </ul>
      </div>
    </div>
    </div>
  </nav>
  <!-- 모달 -->
  <div class="modal-profile">
    <div class="modal-profile-info">
      <div class="modal-profile-img">
        <img id="userImg" src="/elice-rabbit.png" alt="profile-img">
      </div>
      <P id="userName">이학성</P>
      <p id="userEmail">hi@elice.com</p>
    </div>
    <div class="modal-link">
      <a href="/account">계정 관리</a>
      <a href="#" id="logout">로그아웃</a>
    </div>
  </div>
  <!-- 마이 프로필 -->
  <div class="container my-profile">
    <div class="profile-box">
      <div class="profile-info">
        <div class="profile-img">
          <img src="/elice-rabbit.png" alt="profile-img">
        </div>
        <P class="user-name"></P>
        <p class="user-email"></p>
        <p class="current-tier-text"></p>
      </div>
      <div class="tier-box">
        <div class="tier">
          <div class="bronze">
            <img src="/ranked-emblems/emblem_Bronze.png" alt="tier-img">
          </div>
          <div class="silver">
            <img src="/ranked-emblems/emblem_Silver.png" alt="tier-img">
          </div>
          <div class="gold">
            <img src="/ranked-emblems/emblem_Gold.png" alt="tier-img">
          </div>
          <div class="platinum">
            <img src="/ranked-emblems/emblem_Platinum.png" alt="tier-img">
          </div>
          <div class="diamond">
            <img src="/ranked-emblems/emblem_Diamond.png" alt="tier-img">
          </div>
          <div class="challenger">
            <img src="/ranked-emblems/emblem_Challenger.png" alt="tier-img">
          </div>
        </div>
        <div class="tier-info">
          <p class="tier-info"></p>
        </div>
      </div>
    </div>
    <!-- 계정관리 목록-->
    <section class="section">
      <div class="container">
        <div class="menu-container">
          <a class="account-menu" href="/account/orders">
            <div class="menu-body">
              <p class="menu-title">주문조회</p>
              <p class="menu-subtitle">주문 내역을 확인, 취소할 수 있습니다.</p>
            </div>
          </a>
          <a class="account-menu" href="/account/management">
            <div class="menu-body">
              <p class="menu-title">회원정보 관리</p>
              <p class="menu-subtitle">회원 정보를 확인, 수정할 수 있습니다.</p>
            </div>
          </a>
          <a class="account-menu" href="/account/withdrawal">
            <div class="menu-body">
              <p class="menu-title">회원 탈퇴</p>
              <p class="menu-subtitle">회원 정보를 삭제하고 탈퇴할 수 있습니다.</p>
            </div>
          </a>
        </div>
      </div>
    </section>
    <!-- 회원 정보 삭제 -->
    <section class="section">
      <div class="user-form-container">
        <form class="box user-form-box" id="userForm">
          <p class="title is-5 has-text-primary">회원 정보 삭제</p>
          <div class="field mb-5">
            <label class="label" for="passwordInput">현재 비밀번호</label>
            <div class="control">
              <input class="input" id="passwordInput" type="password" placeholder="현재 비밀번호를 입력하세요." autocomplete="off">
            </div>
          </div>
          <button class="button is-primary is-fullwidth" id="submitBtn" type="button"> 회원정보 안전하게 삭제하기</button>
          <!-- 모달 -->
          <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
              <div class="box">
                <p class="mb-3">회원정보 삭제시 복구할 수 없습니다. 삭제 하시겠습니까?</p>
                <div class="buttons">
                  <button class="button mt-5" id="delCompletBtn" aria-label="close">네</button>
                  <button class="button is-primary mt-5" id="delcencelBtn" aria-label="close">아니요</button>
                </div>
              </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
          </div>
        </form>
      </div>
    </section>
</body>

</html>