.security-header {
  border-bottom: 1px solid #735626;
  display: block;
  padding-bottom: 0.7rem;
}
.my-info-box {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  row-gap: 2rem;
  border-bottom: 1px solid #735626;
  padding: 0.8rem 0.8rem;
  align-items: center;
}
.my-info-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
}
.new-id-box,
.new-password-box,
.new-address-box,
.new-phone-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.display-none {
  display: none !important;
}
.display-grid {
  display: grid !important;
}
.search-Address-box {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 0.5rem;
}

.security-header {
  display: flex;
  gap: 1rem;
  align-items: center;
}
#email {
  margin-bottom: 1rem;
}
.account-header {
  border-bottom: 1px solid #ddd;
  display: block;
  padding-bottom: 0.7rem;
}

body {
  margin: 0 auto;
  height: 100vh;
  background-image: linear-gradient(rgba(2, 0, 27, 0), rgba(1, 0, 15, 0.7)),
    url('https://images.contentstack.io/v3/assets/blt187521ff0727be24/bltcdfebd766fb71a69/60ee0c915397524ead3890c9/demacia-hallvalor.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-color: black;
  color: #735626;
  scroll-behavior: auto;
}

.info-section {
  background-color: #012532;
  background: linear-gradient(
    0deg,
    rgba(1, 3, 4, 0.8141631652661064) 0%,
    rgba(1, 37, 50, 1) 100%
  );
  color: #735626;
}
.tier-box {
  border-radius: 2%;
  border: 2px double #735626;
  background-color: #012532;
  background: linear-gradient(
    0deg,
    rgba(1, 3, 4, 0.8141631652661064) 0%,
    rgba(1, 37, 50, 1) 100%
  );
  color: #735626;
  padding: 1rem 3rem;
}

.section .container {
  margin: 0;
}

.account-header {
  border-bottom: 1px solid #ddd;
  display: block;
  padding-bottom: 0.7rem;
}
.menu-container {
  margin-top: 2rem;
  grid-gap: 2rem;
  cursor: pointer;
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  text-decoration: none;
}
.menu-body {
  text-align: center;
}
.account-menu {
  align-items: center;
  border: 1px solid #735626;
  border-radius: 6px;
  display: flex;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: #012532;
  background: linear-gradient(
    0deg,
    rgba(1, 3, 4, 0.8141631652661064) 0%,
    rgba(1, 37, 50, 1) 100%
  );
  color: #735626;
}
.account-menu:hover {
  background-color: #edf7f7;
}
.menu-icon {
  font-size: 3.5rem;
  margin: 0 2rem;
  padding: 1rem;
}
.menu-body {
  border-radius: 6px;
  flex-grow: 1;
  font-size: 1.25em;
  padding: 1em;
}
.menu-body .title {
  margin-bottom: 1rem;
}
.menu-subtitle {
  font-size: 1rem;
}
.menu-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.account-header {
  border-bottom: 1px solid #ddd;
  display: block;
  padding-bottom: 0.7rem;
}
.menu-container {
  justify-content: space-between;
  margin-top: 2rem;
  grid-gap: 2rem;
  cursor: pointer;
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  text-decoration: none;
}
.menu-body {
  text-align: center;
}
.account-menu {
  align-items: center;
  border-radius: 6px;
  display: flex;
  font-size: 1rem;
  padding: 0.5rem;
}

.menu-icon {
  font-size: 3.5rem;
  margin: 0 2rem;
  padding: 1rem;
}
.menu-body {
  border-radius: 6px;
  flex-grow: 1;
  font-size: 1.25em;
  padding: 1em;
}
.menu-body .title {
  margin-bottom: 1rem;
}
.menu-subtitle {
  font-size: 1rem;
}

/* 프로필 */
.profile-info {
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #735626;
  border-radius: 6px;
  padding: 1rem 1rem;
  background-color: #012532;
  background: linear-gradient(
    0deg,
    rgba(1, 3, 4, 0.8141631652661064) 0%,
    rgba(1, 37, 50, 1) 100%
  );
  color: #735626;
}
#profileImg {
  border: 5px solid #8b7755;
  border-radius: 100%;
}
p#name {
  padding-top: 1rem;
}
.profile-img {
  width: 8rem;
}

.profile-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  padding-top: 5rem;
}
.tier {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.tier div {
  width: 7rem;
}
.tier-box {
  border: 2px soild #735626;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.current {
  width: 12rem !important;
}

/* 모달 */
.navbar {
  background-color: #012532;
  border-bottom: 1px solid #8b7755;
}

.modal-profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-profile {
  z-index: 9999;
  width: 17rem;
  border: 1px solid rgb(139 119 85);
  border-radius: 2px;
  box-shadow: rgb(0 0 0 / 12%) 0px 4px 8px 0px;
  background-color: rgb(1 37 50);
  padding: 3rem 1rem 3rem 1rem;
  position: fixed;
  top: 4.4rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  gap: 2rem;
}
.active {
  display: flex !important;
}
.modal-profile-img {
  width: 6rem;
  padding-bottom: 1rem;
}
.modal-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.profile-btn:hover {
  background-color: rgb(223, 222, 222);
  cursor: pointer;
}
.profile-btn {
  width: 3rem;
}

#userImg {
  border: 5px solid #8b7755;
  border-radius: 100%;
  width: 80%;
  margin-left: 1rem;
}

a {
  color: #8b7755;
  text-shadow: 0.7px 0 0px #b19d7f;
  cursor: pointer;
  text-decoration: none;
}

#userEmail,
#userName {
  color: #fff;
}

.navbar {
  background-color: #010f19; 
  border-bottom: 1px solid #8b7755;
}
.breadcrumb a {
  align-items: center;
  color: #8b7755;
  display: flex;
  justify-content: center;
  padding: 0 0.75em;
}

.navbar-item {
  padding: 0;
}

.navbar-item img {
  max-height: 60%;
}



body {
  margin: 0 auto;
  background-image: linear-gradient(rgba(2, 0, 27, 0), rgba(1, 0, 15, 0.7)), url('https://images.contentstack.io/v3/assets/blt187521ff0727be24/bltcdfebd766fb71a69/60ee0c915397524ead3890c9/demacia-hallvalor.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-color: black;
  color: black;
  scroll-behavior: auto;

}

a {
  color: #8b7755;
  text-shadow: 0.7px 0 0px #444444;
  cursor: pointer;
  text-decoration: none;
}

#userEmail,
#userName {
  color: #8b7755;
}
